node_modules/
data/db2.sqlite
data/oss/
data/serve/
data/web/
data/vendor/vendor.json
data/ad/
data/episode/
data/uploads/
data/test-assets/tmp/
src/router.ts
src/types/database.d.ts
build/
dist/
*.log
.env
.DS_Store

frontend/node_modules/
frontend/dist/
